{% load static %}
<!-- Javascript Files
    ================================================== -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jpreLoader.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/jquery.isotope.min.js' %}"></script>
<script src="{% static 'js/easing.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/validation.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/enquire.min.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/jquery.plugin.js' %}"></script>
<script src="{% static 'js/typed.js' %}"></script>
<script src="{% static 'js/typed-custom.js' %}"></script>
<script src="{% static 'js/designesia.js' %}"></script>
